<!DOCTYPE html>
<html lang="en">

<head>
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <title>Document</title>
                  <link rel="stylesheet" href="style.css">
</head>

<body>
                  <form method="post" action="/login">
                                    <input type="email" required name="email">
                                    <div>
                                                      <input type="password" required name="password"
                                                                        id="password-input">
                                                      <h5>
                                                      </h5>
                                                      <button type="button" id="password-toggle">Show</button>
                                    </div>
                                    <button type="submit">Login</button>
                  </form>

                  <script>
                                    const passwordInput = document.getElementById('password-input');
                                    const passwordToggle = document.getElementById('password-toggle');

                                    passwordToggle.addEventListener('click', () => {
                                                      if (passwordInput.type === 'password') {
                                                                        passwordInput.type = 'text';
                                                                        passwordToggle.textContent = 'Hide';
                                                      } else {
                                                                        passwordInput.type = 'password';
                                                                        passwordToggle.textContent = 'Show';
                                                      }
                                    });
                  </script>
</body>

</html>